.col-md-5{
    background-color: #364757 !important;
}
.btnStyle{
    color: rgb(250, 250, 250);
    background-color: rgb(6, 110, 110);
    font-weight: bolder;
    font-size: 30px;
    width: 200px;
    height: 200px;
    border: 20px solid black;
    transition: .5s;
}
.btnStyle:hover{
    border: 20px solid #f80000b0;
    color: rgb(250, 250, 250);
    background-color: rgb(6, 110, 75);
}
.key{
    color: white;
    background-color: #232f3a;
    font-weight: 600;
    font-size: 30px;
    width: 100px;
    height: 50px;
    border-radius: 20px ;
    margin: 5px;
    transition: .4s;
}
.key:hover{
    color: #dddddd;
    background-color: #3b4e5e;
}
#mainStructure{
    display: flex;
    justify-content: center;
}
#generator,#display{
    text-align: center;
    padding: 10px;
    font-size: 30px;
}